<turbo_frame id="current-chat">
  <div id="<%= dom_id chat %>" class="min-h-75">
    <div id="history-area" class="min-h-full">
      <% unless chat.q_and_a.blank? %>
        <% chat.q_and_a.each do |q, a| %>
          <div class="question_area">
            <div class="you">You</div>
            <div class="question"><%= simple_format q %></div>
          </div>
          <div class="answer_area">
            <div class="open_ai">OpenAI</div>
            <div class="answer"><%= simple_format a %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="ask_gpt">
      <%= form_with(model: @chat) do |form| %>
        <div class="mb-3">
          <%= form.text_field :message, placeholder: "Write a question", class: "text-gray-800 p-3 w-80" %>
          <%= form.submit "Ask", 
                          class: "ml-2 mb-2 rounded-lg py-3 px-5 bg-blue-100 text-gray-700 inline-block font-medium" %>
        </div>
      <% end %>
    </div>
  </div>  
</turbo_frame>
