<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <% content_for :title, "Chats" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Chats</h1>
  </div>

  <div id="chats" class="min-w-full">
    <%= render @chat %>
  </div>

  <div class="ask_gpt">
    <%= form_with(model: @chat) do |form| %>
    <div class="mb-3">
      <%= form.text_field :message, placeholder: "Write a question", class: "text-gray-800" %>
      <%= form.submit "Ask" %>
    </div>
  <% end %>
  </div>
</div>
