<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Los Gehts" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex min-h-screen">
      <div class="w-1/4 bg-gray-600 text-white p-4">
        <div class="">
          <%= form_with(model: Chat.new) do |form| %>
            <%= form.hidden_field :history, value: "" %>
            <%= form.submit("+ New chat", 
                            class:"bg-blue-500 hover:bg-blue-700 hover:cursor-pointer text-white font-bold py-2 px-4 
                                   rounded focus:outline-none focus-shadow:outline-none") if current_user %>
          <% end %>
        </div>
        <div class="mt-3">
          <h4 class="font-bold">Today:</h4>
          <turbo-frame id="user-chats">
            <%= render partial: "chats/chat_list", collection: current_user.chats, as: :chat %>
          </turbo-frame>
        </div>
      </div>
      <div class="w-3/4 bg-gray-400 text-white p-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
